<div class="jumbotron text-center">
  <h3>{{appName}}</h3>
  <h4>{{message}}</h4>
</div>

<nav class="navbar navbar-default">
  <a class="navbar-brand" (click)="toggleSelection('user')">Users</a>
  <a class="navbar-brand" (click)="toggleSelection('add-restaurant')">Add Restaurant</a>
  <a class="navbar-brand" (click)="toggleSelection('view-restaurants')">View Restaurants</a>
</nav>

<app-user *ngIf="showUserSelection"></app-user>
<app-restaurant *ngIf="showAddRestaurantSelection"></app-restaurant>
<app-restaurant-list *ngIf="showViewRestaurantsSelection"></app-restaurant-list>


<router-outlet></router-outlet>